
    <div class="top-bar">
        <button class="back-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 12H4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10 18L4 12L10 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>

        <div class="header-content">
            <div class="header-icon">
                <img src="https://i.ibb.co/cSMjFD5Y/Picsart-26-01-29-15-08-37-387.jpg" alt="Tickets">
            </div>
            <div class="page-title">Транспорт</div>
        </div>
    </div>

    <div class="menu-list">
        <div class="menu-item">
            <div class="item-icon">
                <img src="https://i.ibb.co/23Nbdh39/Picsart-26-01-29-15-09-08-727.jpg" alt="Train">
            </div>
            <div class="item-text">Поїзд</div>
        </div>

        <div class="menu-item" data-page="settings">
            <div class="item-icon">
                <img src="https://i.ibb.co/5gkP5ZBv/Picsart-26-01-29-15-09-59-963.jpg" alt="Plane">
            </div>
            <div class="item-text">Літак</div>
        </div>

        <div class="menu-item">
            <div class="item-icon">
                <img src="https://i.ibb.co/v8p18zj/Picsart-26-01-29-15-18-22-163.jpg" alt="Bus">
            </div>
            <div class="item-text">Автобус</div>
        </div>

        <div class="menu-item" data-page="index">
            <div class="item-icon">
                <img src="https://i.ibb.co/7JtyVry3/Picsart-26-01-29-15-19-07-001.jpg" alt="City Transport">
            </div>
            <div class="item-text">Міський транспорт</div>
        </div>
    </div>
